<a href="https://colab.research.google.com/github/tshadat2002/data_analytics_2/blob/main/Python/Unit5Assignments/Unit5Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Join the film to the film_actor table.
SELECT * 
FROM film
INNER JOIN film_actor
ON film.film_id = film_actor.film_id;




#Join the actor table to the film_actor table. 
SELECT * 
FROM actor
INNER JOIN film_actor
ON actor.actor_id = film_actor.actor_id;





#Try to join the actor, film_actor, and film table together (3 joins!)
SELECT * 
FROM actor
INNER JOIN film_actor
ON actor.actor_id = film_actor.actor_id
INNER JOIN film
ON film_actor.film_id = film.film_id;